
h1 {
    color: chocolate;
    text-align: center;
}

h2 {
    color: rgb(58, 37, 23);
    text-align: center;
}

.admindivs {
    text-align: center;
    background-color: rgb(153, 100, 62);
}

.inschrijfgegevens {
    align-self: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.ophaalgegevens {
    text-align: center;
}

#totaalaantalspelers {
  text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    background-color: #f6b93b;
}
